In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('C:/Users/alden/OneDrive/Desktop/Python data science/IEEE CIS Fraud detection/accounts.csv')

In [4]:
df.head()

,account_id,customer_id,account_type,currency,balance,status,created_at,closed_at
0,A00001,C0284,CREDIT,EUR,40461.13,BLOCKED,2021-01-03,NaN
1,A00002,C0267,SAVINGS,USD,32045.30,BLOCKED,2023-10-27,NaN
2,A00003,C0095,CURRENT,USD,9863.51,CLOSED,2020-11-21,2024-02-07
3,A00004,C0153,CREDIT,BAM,26341.43,CLOSED,2025-06-12,NaN
4,A00005,C0028,CREDIT,HRK,33063.14,ACTIVE,2024-07-14,2024-04-23

In [ ]:
for col in df.columns:
    print("a_" + col)

a_account_id
a_customer_id
a_account_type
a_currency
a_balance
a_status
a_created_at
a_closed_at

In [11]:
lambda col: "a_" + col

In [12]:
df.columns = df.columns.map(lambda col: "a_" + col)

In [14]:
df.head()

,a_account_id,a_customer_id,a_account_type,a_currency,a_balance,a_status,a_created_at,a_closed_at
0,A00001,C0284,CREDIT,EUR,40461.13,BLOCKED,2021-01-03,NaN
1,A00002,C0267,SAVINGS,USD,32045.30,BLOCKED,2023-10-27,NaN
2,A00003,C0095,CURRENT,USD,9863.51,CLOSED,2020-11-21,2024-02-07
3,A00004,C0153,CREDIT,BAM,26341.43,CLOSED,2025-06-12,NaN
4,A00005,C0028,CREDIT,HRK,33063.14,ACTIVE,2024-07-14,2024-04-23

In [17]:
df.to_csv('C:/Users/alden/OneDrive/Desktop/Python data science/IEEE CIS Fraud detection/a_accounts.csv', index=False)

In [18]:
df1 = pd.read_csv('C:/Users/alden/OneDrive/Desktop/Python data science/IEEE CIS Fraud detection/a_accounts.csv')

In [19]:
df1.head()

,a_account_id,a_customer_id,a_account_type,a_currency,a_balance,a_status,a_created_at,a_closed_at
0,A00001,C0284,CREDIT,EUR,40461.13,BLOCKED,2021-01-03,NaN
1,A00002,C0267,SAVINGS,USD,32045.30,BLOCKED,2023-10-27,NaN
2,A00003,C0095,CURRENT,USD,9863.51,CLOSED,2020-11-21,2024-02-07
3,A00004,C0153,CREDIT,BAM,26341.43,CLOSED,2025-06-12,NaN
4,A00005,C0028,CREDIT,HRK,33063.14,ACTIVE,2024-07-14,2024-04-23

In [22]:
df2 = pd.read_csv('C:/Users/alden/OneDrive/Desktop/Python data science/IEEE CIS Fraud detection/merchants.csv')
df2.columns = df2.columns.map(lambda col: "m_" + col)
df2.to_csv('C:/Users/alden/OneDrive/Desktop/Python data science/IEEE CIS Fraud detection/m_merchants.csv', index=False)

In [21]:
df3 = pd.read_csv('C:/Users/alden/OneDrive/Desktop/Python data science/IEEE CIS Fraud detection/customers.csv')
df3.columns = df3.columns.map(lambda col: "c_" + col)
df3.to_csv('C:/Users/alden/OneDrive/Desktop/Python data science/IEEE CIS Fraud detection/c_customers.csv', index=False)